{% if paginator %}
<div class="container text-center my-8 px-6 overflow-hidden text-ellipsis">
  {% if paginator.hasPreviousPage() %}
    <a href='?page={{ paginator.previousPage() }}' class='p-4 border border-brand-light-border bg-brand-light-blue text-white'><</a>
  {% endif %}
  <span>Page {{ paginator.getCurrentPage() }} of {{ paginator.getTotalPages() }}</span>
  {% if paginator.hasNextPage() %}
    <a href='?page={{ paginator.nextPage() }}' class='p-4 border border-brand-light-border bg-brand-light-blue text-white'>></a>
  {% endif %}
</div>
{% endif %}
<footer class="bg-brand-dark-text py-4">
  <div class="container text-white/60 text-sm">
    <p>© {{ "now"|date("Y") }} Electronic Store. Powered by Electronic Store</p>
  </div>

</footer>
<div class="cartItem w-full py-4 border-b border-brand-light-border" data-product-id="" id="cartItemTemplate" style="display:none">
  <div class="flex items-center gap-2">
    <div class="flex items-center justify-center w-3/12">
      <img src="#" alt="" class="cartItemThumbnail">
    </div>

    <div class="flex flex-col w-9/12 ">
      <p class="mb-2 text-ellipsis text-justify overflow-hidden whitespace-nowrap cartItemTitle"></p>
      <p><span class="cartItemQuantity"></span> x $<span class="cartItemSalePrice"></span></p>
      <div class="flex items-center justify-start w-6/12 border border-brand-light-border">
        <button class="w-3/12 p-2 border-r border-brand-light-border cartItemQuantityBtn cartItemQuantityMinus">-</button>
        <input type="number" name="cartItemQty" class="p-2 w-6/12 text-center cartItemQuantityInput" value="">
        <button class="w-3/12 p-2 border-l border-brand-light-border cartItemQuantityBtn">+</button>
      </div>
      <div class="text-xs py-1">
        <span class="removeCartItem cursor-pointer">Remove</span>
      </div>
    </div>
  </div>

</div>

