{% extends 'base.html' %}
{% block content %}


    <div class="container bg-brand-light-gray border border-brand-light-border p-4 my-16">



        <h4 class="text-2xl font-bold mb-6 basis-full">View Orders</h4>
        {% if orders %}
        <table class="table-auto w-full ">
            <thead>
            <tr>
                <th class="text-start">#</th>
                <th class="text-start">Customer</th>
                <th class="text-start">Order Items</th>
                <th class="text-start">Total</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
            <tr class="hover:bg-brand-light-border border-b last:border-0 border-brand-light-border">
                <td class="p-1">#{{ order.id }}</td>
                <td class="p-1">{{ order.full_name }}<br>Macedonia<br>{{ order.address }}</td>
                <td class="p-1">
                    {% for orderItem in order.orderItems %}
                    {{ orderItem.quantity }} x {{ orderItem.product_title }} ${{ orderItem.price }} (${{ orderItem.line_total }})
                    {% endfor %}
                </td>
                <td class="p-1">${{ order.order_total }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>No orders found in database. Create an order from main page!</p>
        {% endif %}


    </div>


<?php require 'includes/footer.php' ?>
{% endblock content %}